$TTL 86400
@   IN  SOA     primary.dathena.io. root.dathena.io. (
2014112511  ;Serial
3600        ;Refresh
1800        ;Retry
604800      ;Expire
86400       ;Minimum TTL
)
@ IN  NS      primary.dathena.io.
11      IN  PTR     one.dathena.io.
12      IN  PTR     two.dathena.io.
