$TTL 86400
@   IN  SOA     primary.dathena.io. root.dathena.io. (
2014156511  ;Serial
3600        ;Refresh
1800        ;Retry
604800      ;Expire
86400       ;Minimum TTL
)
@      IN  NS      primary.dathena.io.
primary IN  A       {{ addr }}
one     IN  A       192.168.1.11
two     IN  A       192.168.1.12
