
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users Items</title>

</head>

<style>
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
</style>

<form action=" {{ url_for('cart') }}">
    <input type="submit" value="Go to  Add Cart" />
</form>



<table>
    <tbody>



    <div class="panel panel-primary">
      <div class="panel-heading">Description</div>


    {% for all_item in all_items %}

 </div>
      {% if all_item.image_url %}
           <tr>
               <img src="{{ all_item.image_url }}" alt="{{ all_item.image_filename }}" style="width:200px;height:150px;">
<div class="panel-body"> {{ all_item.prod_id}} {{ all_item.part_name }}  <b>{{ all_item.part_desc }} {{ all_item.part_cost}}  </b>
    <p> <a href="{{ url_for('about_item', id=all_item.prod_id) }}"><button type="button" class="btn btn-primary" style="background-color:Green"> Show Item Detail</button> </a> </p>
     </tr>
      {% else %}


     </tr>

    {% endif %}
    {% endfor %}
    {% for page in my_total_item_list.iter_pages() %}
  {% if page %}
   <a href="{{ url_for('paginator', page_num=page) }}"> {{page}}</a>
  {% else %}
  ...
  {% endif %}
{% endfor %}

        <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
  </body>
    </tbody>
</table>

</html>